.field {
  position: relative;

  img {
    position: relative;
  }

  .field-players {
    position: absolute;
    top: 0;
    width: 94%;

    height: 99%;
    z-index: 100;

    .board {
      height: 100%;
      position: relative;

      span {
        font-size: 10px;
        border: 1px solid #eee;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        text-align: center;
        color: #fff;
        font-weight: 600;
        padding: 8px 8px;
        position: absolute;
      }

      .home {
        span {
          background-color: #2b52ba;

          &.gk {
            top: 43% !important;
            left: 3%;
          }

          &.lb {
            top: 8%;
            left: 12%;

            #mainMenu {
              margin-top: -35px !important;
              margin-left: 19px;
            }

            #menu {
              margin-top: 150px !important;
            }
          }

          &.rb {
            bottom: 8%;
            left: 12%;

            #mainMenu {
              margin-top: -100px !important;
              margin-left: 19px;
            }

            #menu {
              margin-top: 70px !important;
            }
          }

          &.cb1 {
            top: 30%;
            left: 13%;

            #mainMenu {
              margin-top: -20px !important;
              margin-left: 19px;
            }
          }

          &.cb2 {
            bottom: 30%;
            left: 13%;

            #mainMenu {
              margin-top: -30px !important;
              margin-left: 19px;
            }

            #menu {
              margin-top: 30px !important;
            }
          }

          &.lm {
            top: 18%;
            left: 28%;
          }

          &.cm {
            bottom: 45%;
            left: 28%;

            #menu {
              margin-top: 30px !important;
            }
          }

          &.rm {
            bottom: 20%;
            left: 28%;

            #mainMenu {
              margin-top: -40px !important;
            }

            #menu {
              margin-top: 31px !important;
            }
          }

          &.lf {
            top: 16%;
            right: 52%;

            #mainMenu {
              margin-top: -0px !important;
              margin-left: -61px;
            }
          }

          &.rf {
            bottom: 16%;
            right: 52%;

            #mainMenu {
              margin-top: -130px !important;
              margin-left: -61px;
            }
          }

          &.cf {
            bottom: 45%;
            right: 52%;
            #mainMenu {
              margin-top: -0px !important;
              margin-left: -61px;
            }
          }
        }

        span {
          background-color: #2b52ba;

          &.gk-a {
            top: 45% !important;
            left: 8%;
            background-color: orange;
          }

          &.lb-a {
            top: 8%;
            left: 28%;
            background-color: orange;
          }

          &.rb-a {
            bottom: 8%;
            left: 28%;
            background-color: orange;
          }

          &.cb1-a {
            top: 30%;
            left: 23%;
            background-color: orange;
          }

          &.cb2-a {
            bottom: 30%;
            left: 23%;
            background-color: orange;
          }

          &.lm-a {
            top: 18%;
            left: 48%;
            background-color: orange;
          }

          &.cm-a {
            bottom: 45%;
            left: 48%;
            background-color: orange;
          }

          &.rm-a {
            bottom: 20%;
            left: 47%;
            background-color: orange;
          }

          &.lf-a {
            top: 16%;
            right: 20%;
            background-color: orange;
          }

          &.rf-a {
            bottom: 16%;
            right: 20%;
            background-color: orange;
          }

          &.cf-a {
            bottom: 45%;
            right: 18%;
            background-color: orange;
          }
        }
      }

      .away {
        span {
          background-color: red;

          &.gk {
            top: 43% !important;
            right: 3%;
          }

          &.lb {
            bottom: 8%;
            right: 12%;
          }

          &.rb {
            top: 8%;
            right: 12%;
          }

          &.cb1 {
            top: 30%;
            right: 13%;
          }

          &.cb2 {
            bottom: 30%;
            right: 13%;
          }

          &.lm {
            bottom: 18%;
            right: 28%;
          }

          &.cm {
            bottom: 45%;
            right: 28%;
          }

          &.rm {
            top: 20%;
            right: 28%;
          }

          &.lf {
            bottom: 16%;
            left: 52%;
          }

          &.rf {
            top: 16%;
            left: 52%;
          }

          &.cf {
            bottom: 45%;
            left: 52%;
          }
        }
      }
    }
  }
}
