#timer-div{
  width: 375px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#timer-upload{
  border: 1px dotted #D8D8D8;
  border-radius: 2px;
  max-width: 126px;
}